[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hourglass:before {
  content: "\e918";
}
.icon-clipboard:before {
  content: "\e913";
}
.icon-gear:before {
  content: "\e914";
}
.icon-email:before {
  content: "\e915";
}
.icon-world:before {
  content: "\e916";
}
.icon-present:before {
  content: "\e917";
}
.icon-cubes:before {
  content: "\e911";
}
.icon-bear:before {
  content: "\e912";
}
.icon-vk:before {
  content: "\e910";
}
.icon-next-2:before {
  content: "\e90f";
}
.icon-play-triangle:before {
  content: "\e90d";
}
.icon-visa:before {
  content: "\e905";
}
.icon-mastercard:before {
  content: "\e906";
}
.icon-yotube-small:before {
  content: "\e907";
}
.icon-youtube-circle:before {
  content: "\e908";
}
.icon-fb-circle:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-tw:before {
  content: "\e90b";
}
.icon-odnoklassniki:before {
  content: "\e90c";
}
.icon-next:before {
  content: "\e90e";
}
.icon-angel-down:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-tile-1:before {
  content: "\e902";
}
.icon-tile-2:before {
  content: "\e903";
}
.icon-tile-3:before {
  content: "\e904";
}
