$tablets: "(min-width: 768px)";     		 /* Small devices (tablets, 768px and up) */
$desktops: "(min-width: 992px)"; 				 /* Medium devices (desktops, 992px and up) */
$large-desktops: "(min-width: 1200px)";  /* Large devices (large desktops, 1200px and up) */



// color
$color-font: #A09FA0;
$color-1: #9EC44C;
$color-2: #E7BE3A;
$color-3: #72BFD9;
$color-4: #CB2228;
